<link rel="stylesheet" href="{{ relURL "/css/reboot.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/style.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/syntax.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/tomorrow-night-eighties.css" }}"  id="theme-stylesheet"/>

<script type="text/javascript" src="{{ relURL "/js/main.js" }}"></script>

<script type = "text/javascript" src="{{ relURL "/js/highlight.pack.js" }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">